/* josefin-sans-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Josefin Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../assets/fonts/josefin-sans-v32-latin/josefin-sans-v32-latin-regular.woff2")
		format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Josefin Sans";
	font-style: normal;
	font-weight: 500;
	src: url("../assets/fonts/josefin-sans-v32-latin/josefin-sans-v32-latin-500.woff2")
		format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Josefin Sans";
	font-style: normal;
	font-weight: 600;
	src: url("../assets/fonts/josefin-sans-v32-latin/josefin-sans-v32-latin-600.woff2")
		format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Josefin Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../assets/fonts/josefin-sans-v32-latin/josefin-sans-v32-latin-700.woff2")
		format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	src: url("../assets/fonts/lato-v24-latin/lato-v24-latin-regular.woff2")
		format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	src: url("../assets/fonts/lato-v24-latin/lato-v24-latin-700.woff2")
		format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-900 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Lato";
	font-style: normal;
	font-weight: 900;
	src: url("../assets/fonts/lato-v24-latin/lato-v24-latin-900.woff2")
		format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* stick-no-bills-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Stick No Bills";
	font-style: normal;
	font-weight: 400;
	src: url("../assets/fonts/stick-no-bills-v15-latin/stick-no-bills-v15-latin-regular.woff2")
		format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* stick-no-bills-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Stick No Bills";
	font-style: normal;
	font-weight: 600;
	src: url("../assets/fonts/stick-no-bills-v15-latin/stick-no-bills-v15-latin-600.woff2")
		format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* stick-no-bills-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Stick No Bills";
	font-style: normal;
	font-weight: 700;
	src: url("../assets/fonts/stick-no-bills-v15-latin/stick-no-bills-v15-latin-700.woff2")
		format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* stick-no-bills-800 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Stick No Bills";
	font-style: normal;
	font-weight: 800;
	src: url("../assets/fonts/stick-no-bills-v15-latin/stick-no-bills-v15-latin-800.woff2")
		format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
